.start_app
  width 143px !important
  padding-right 0 !important
  margin 0 auto
  &:hover
    color green + 99
    text-shadow 0 1px rgba(#000,.3), 0 0 33px green + 30
    svg
      filter drop-shadow(0 0 23px green + 30)
    path
      fill green + 99
  path
    transition 0.5s fill
  span
    &:before,
    &:after
      display none !important
