.footer
  text-align center
  padding 0 0 30px
  small, i
    font-style normal
    color #fff
    text-shadow 0 2px 2px rgba(#000,.6)
  a:hover
    letter-spacing 2px
    color #fff
    transition .5s all
    text-shadow 0 2px 2px rgba(#000,.6)
    small, i
      color #fff
.scroll-top
  background #fff
  border-radius 6px
  color #333
  box-sizing border-box
  bottom 20px
  padding 10px 15px
  position fixed
  right 30px
  border solid 2px #333
  border-radius 50%
  z-index 9999
  &:hover
    color #fff !important
    background #333
    border solid 2px #fff
    animation .5s scroll_top infinite alternate

@keyframes scroll_top
  0%
    transform translateY(0)
  100%
    transform translateY(-15px)
